#main-wrapper , html{
  height: 100%;
  width: 100%;
}

body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

button {
  background-color: #D0002D !important;
}

/* side-bar*/

.sidecontainer{
  margin-top: 50px;
}

.row-size{
  width : 100%;
  height : 100%;
}

.list{
  margin-top: 20px;

}

a{
  color: #00B7FF;
}

.icon-size {
  font-size :25px;
}

.item-size {
  font-size: 13px;
  padding:18px;
  float:left;
  color : #ffffff;
}

/*nav-bar*/
.topbar{
  margin-top:-60px !important;
  margin-left: -50px !important;
}
.brand-logo{
  width : 300px !important;
}

.search-box:focus{
  background-color: #757575 !important;
}



/*middle-container*/

.side-offset {
  margin-left: 300px !important;
}

.main-tabs {
  display: inline-block !important;
  text-align: center !important;
}
.main-tabs a{
  padding: 10px !important;
  color : #F44336 !important;
}

.song-title {
    width: 13em !important;
    word-wrap: break-word !important;
    font-size: small !important;
}
.production-name a{
  color : grey !important;
  font-size: small !important;
}
.production-name a:hover{
  color : #00B7FF !important;
}
.card-bottom{
  font-size: small !important;
  display: -webkit-box !important;
}
.card-bottom>li:before{
  content: '\002022';
  margin: 0 5px;
}

.song-content{
  padding: 5px !important;
}

.left-songs {
  /*display:-webkit-inline-box !important; 
  vertical-align: top !important;*/
  /*width: 50% !important;*/
}
.video-container{
  width :100% !important;
}
.video-thumbinal{
  height:100px !important;
}
.song-title-L{
  margin-top: 0px !important;
  width: 13em !important;
  word-wrap: break-word !important;
  font-size: small !important;
}
.production-name-L{
  margin-top: -15px !important;
}
.card-bottom-L{
  font-size: small !important;
  display: -webkit-box !important;
  margin-top: -8px;
  margin-left: -6px;
}
.card-bottom-L>li:before{
  content: '\002022';
  margin: 0 5px;
}

/*
.side-nav{
  height :800px !important;
}*/


/*Comment Box*/

button {
  background-color: #D0002D !important;
}

.container-border {
    border: 2px solid #BBBBBB;
    /*border-radius: 18px;*/
    padding-top: 20px;
    margin-right: 5%;
    width :100%;
    background-color: #FAFAFA;
    box-shadow: 0 0 20px #6D6969;
}

.inner-container{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.textarea-border{
  border: 2px solid #BBBBBB   !important;
  border-radius: 18px     !important;
    /*margin-bottom: 22px     !important;*/
}


.comment-label,.name-label{
  left : 1.75rem !important;
  color : #BBBBBB !important;
}

.comment-label.active,.name-label.active{
  transform : translateY(-200%) !important;
  color : #D0002D !important;
}

.comment-label.active ~ .comment-input{
  transform : translateY(-200%) !important;
  color : #D0002D !important;
}

.name-label.active ~ .name-input{
  color : #D0002D !important;
}

.name-input input:focus {
    border-bottom: 1px solid #D0002D !important;
    box-shadow: 0 1px 0 0 #D0002D !important;
 }

.comment-input textarea:focus {
    border-bottom: 1px solid #BBBBBB !important;
    box-shadow: 0 1px 0 0 #BBBBBB !important;
 }

.comment-counter{
  display : none;
}


.comment-label.active + .comment-counter{
  display : block;
}


.comment-entry{
  border-bottom: 2px solid #DDDDDD ;
  box-shadow: 0 0 20px #6D6969;
  border-radius :5px;
}

.thumbup{
  color : #44A944;
  font-size: 15px;
  background-color: #FAFAFA;
}

a.thumup:hover{
  color : green;
  font-size: 18px;
  background-color: #FAFAFA;
}

.thumbdown{
  color : #D0002D;
  font-size: 15px;
  background-color: #FAFAFA;
}

.updown{
  position: relative;
  top :10px;
}

h5 {
  font-weight: 500;
  color : #736E6E;
}

span {
  color : #808080 !important;
}
.position{
  position: relative;
  left :28px;
  font-size: 14px;
  word-wrap: break-word;
  padding-right: 20%;
  color : #888383;
}

#comment-box{
  /*box-shadow: 0 0 5px #6D6969;*/
}

.side-nav ul{
  margin : 0px !important;
  border : none !important;
}

.side-nav{
  top : 50px !important;
}
.side-nav a{
  height : 50px !important;
  border : none !important;
  color : #FFFFFF !important;
}

.side-nav a:hover{
  background-color: #26a69a !important;
  color : #FFFFFF !important;
}

.nav-wrapper{
  z-index :1000 !important;
}

