#main-wrapper , html{
  height: 100%;
  width: 100%;
}

body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

button {
	background-color: #D0002D !important;
}

/* side-bar*/

.sidecontainer{
  margin-top: 50px;
}

.row-size{
  width : 100%;
  height : 100%;
}

.list{
  margin-top: 20px;

}

a{
  color: #00B7FF;
}

.icon-size {
  font-size :25px;
}

.item-size {
  font-size: 13px;
  padding:18px;
  float:left;
  color : #ffffff;
}

/*nav-bar*/
.topbar{
  margin-top:-60px !important;
  margin-left: -50px !important;
}
.brand-logo{
  width : 300px !important;
}

.search-box:focus{
  background-color: #757575 !important;
}



/*middle-container*/

.side-offset {
  margin-left: 300px !important;
}

.main-tabs {
  display: inline-block !important;
  text-align: center !important;
}
.main-tabs a{
  padding: 10px !important;
  color : #F44336 !important;
}

.song-title {
    width: 13em !important;
    word-wrap: break-word !important;
    font-size: small !important;
}
.production-name a{
  color : grey !important;
  font-size: small !important;
}
.production-name a:hover{
  color : #00B7FF !important;
}
.card-bottom{
  font-size: small !important;
  display: -webkit-box !important;
}
.card-bottom>li:before{
  content: '\002022';
  margin: 0 5px;
}

.song-content{
  padding: 5px !important;
}

.left-songs {
  /*display:-webkit-inline-box !important; 
  vertical-align: top !important;*/
  /*width: 50% !important;*/
}
.video-container{
  width :100% !important;
}
.video-thumbinal{
  height:100px !important;
}
.song-title-L{
  margin-top: 0px !important;
  width: 13em !important;
  word-wrap: break-word !important;
  font-size: small !important;
}
.production-name-L{
  margin-top: -15px !important;
}
.card-bottom-L{
  font-size: small !important;
  display: -webkit-box !important;
  margin-top: -8px;
  margin-left: -6px;
}
.card-bottom-L>li:before{
  content: '\002022';
  margin: 0 5px;
}


.side-nav{
  height :800px !important;
}