 <div class="navbar-fixed topbar">
        <nav>
          <div class="nav-wrapper black">
             <a href="#" class="brand-logo">Logo</a>
              
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                  <form>
                    <div class="input-field">
                      <input class="search-box" id="search" type="search" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </li>
                <li><a ng-href="">Signup</a></li>
              </ul>
          </div>
        </nav>
  </div>
