 <div class="navbar-fixed topbar">
        <nav>
          <div class="nav-wrapper black">
          <!-- <div class="row"> -->
             <a ui-sref="main" class="brand-logo">Logo</a>
              <ul id="nav-mobile" class="search-nav hide-on-med-and-down">
                <li>
                  <form>
                    <div class="input-field">
                      <input class="search-box" id="search" type="search" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </li>
                <li>
                  <a class="waves-effect waves-light btn upload">Upload</a>
                </li>
                <li>
                  <i class="material-icons notify">notifications_none</i>
                </li>
                <li><a ng-href="" >Signup</a></li>
              </ul>
            
          <!-- </div> -->
          </div>
        </nav>
  </div>
