<ul id="slide-out" class="side-nav black fixed pos sidecontainer">
				<li class="list">
					<a ng-href="">
						<div class="row row-size">
							<div class="col l3 s3  teal-text text-darken-1">
								<i class="mdi-action-home prefix icon-size"></i>
							</div>
							<div class="col l9 s9 left">
								<h6 class="item-size">Home</h6>
							</div>
						</div>
					</a>
				</li>

				<li class="list">
					<a ng-href="">
						<div class="row row-size">
							<div class="col l3 s3  teal-text text-darken-1">
								<i class="mdi-av-equalizer prefix icon-size"></i>
							</div>
							<div class="col l9 s9 left">
								<h6 class="item-size">Trending</h6>
							</div>
						</div>
					</a>
				</li>
				<li class="list">
					<a ng-href="">
						<div class="row row-size">
							<div class="col l3 s3  teal-text text-darken-1">
								<i class="material-icons">history</i>
							</div>
							<div class="col l9 s9 left">
								<h6 class="item-size">History</h6>
							</div>
						</div>
					</a>
				</li>

				<li class="list">
					<a ng-href="">
						<div class="row row-size">
							<div class="col l3 s3  teal-text text-darken-1">
								<i class="material-icons">subscriptions</i>
							</div>
							<div class="col l9 s9 left">
								<h6 class="item-size">Subscriptions</h6>
							</div>
						</div>
					</a>
				</li>

				<li class="list">
					<a ng-href="">
						<div class="row row-size">
							<div class="col l3 s3  teal-text text-darken-1">
								<i class="material-icons">watch_later</i>
							</div>
							<div class="col l9 s9 left">
								<h6 class="item-size">Watch Later</h6>
							</div>
						</div>
					</a>
				</li>	
</ul>